@import "~bootstrap/scss/bootstrap";

.content {
    margin-top: 2.5vh;
    background-color: lightgray;
    padding: 20px;
    font-size: 15px;
    color: #fff;
    min-height: 95vh;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    .navbar {
        border-radius: 10px;
        background-color: #1EB7A6;
        margin-bottom: 20px;
        color: #fff;
    }
    .info {
        margin: 0px;
        margin-bottom: 4px;
        background-color: gray;
        line-height: 2em;
        padding: 0.4em 0;
        border-radius: 10px;
       
    }
}
.info-account {
    margin: 2px 0px;
    background-color: #fff;
    line-height: 2em;
    padding: 0.4em 0;
    border-radius: 10px;
    color: gray;
    .edit {
        display: flex;
        justify-content: space-around;
        .minus {
            display: inline-block;
            color: red;
            margin: 0 10px;
        }
        .plus {
            display: inline-block;
            color: green;
            margin: 0 10px;
        }
        .delete {
            display: flex;
            justify-content: center;
            align-items: center;
            color: gray;
            border: none;
            background-color: transparent;
        }
    }

}
.navbar-brand {
    color: #fff;
}
.nav-item {
    color: #fff;
}